<!DOCTYPE html>
<html>
	<head>
		<title>Classify your Image!</title>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
		<script src="static/scripts/index.js" defer></script>
		<link rel="stylesheet" href="static/styles/index.css">
	</head>
	<body>
		<div id="maintext">  
			<h1> Upload your image to be classified! </h1>
			
			<form method=post enctype=multipart/form-data id="upload-img" action="{{ url_for('prediction') }}">	
				<p>
					<input type="file" id="input-img" name="img" accept="image/*"/>
					<input type="submit" id="input-img-submit" value="Upload">
				</p>
				<input type="text" id="input-img-data" name="img-data" hidden="true">
			</form>
		</div>

		<!-- Background section -->
		<p class="message">Nhat Pham Le Quang - 18520120<br>University of Information Technology VNU-HCM</p>
		<div class="container"><img class="background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg"/>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
			<div class="circle-container">
			<div class="circle"></div>
			</div>
  </div>
	</body>

</html>
